* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared styles */
.text-primary {
  color: #000000;
}
.bg-color {
  background-color: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
/* Header styles */

/* nav styles */
nav {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 120px 0;
}
nav .logo {
  width: 100px;
  height: auto;
}
nav ul {
  align-items: center;
  padding: 18px 0;
}
nav ul li {
  list-style: none;
  margin-left: 3rem;
}
nav ul li a {
  text-decoration: none;
  color: #8987a1;
}
nav ul li a:hover {
  color: #252432;
}

/* hero-section styles */
.hero-section {
  justify-content: space-between;
  align-items: flex-end;
}
.hero-section-content {
  max-width: 570px;
}
.hero-title {
  font-size: 65px;
  font-weight: 700;
}
.hero-title .fresh-flower {
  color: #e95a08;
}
.hero-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}
.hero-section-img {
  width: 570px;
}

/* main styles */

.section-title {
  font-size: 50px;
  color: #000000;
  font-weight: 700;
}
.section-description {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}
/* Plants Section styles */
.Plants {
  padding-top: 100px;
}
.plants-title .our-plan {
  color: #e95a08;
}
.plants-description {
  margin-bottom: 50px;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  padding: 19px 80px;
  width: 270px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 100%;
  max-width: 270px;
  height: auto;
  margin-bottom: 20px;
}
.card-title {
  font-size: 22px;
  font-weight: 500;
  color: #111111;
}
.card-sub-title {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 30px;
}

/* Plants Lover section */
.Plants-Lover {
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding-top: 200px;
}
.plans-image {
  width: 100%;
  max-width: 540px;
  position: relative;
}
.plans-lover-img {
  width: 100%;
}
.trusted-badge {
  position: absolute;
  display: flex;
  height: 285px;
  width: 285px;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
}

.plans-lover-content {
  max-width: 540px;
}
.lover-title {
  margin-bottom: 35px;
}
.lover-content-description li {
  margin-bottom: 20px;
}

/* Join section styles */
.join {
  width: 100%;
  padding: 100px 0;
  background-image: url(../assets/images/news-letter-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 85px;
}

.join-title {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 30px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 830px;
  margin: 0 auto;
}
.join input {
  padding: 15px 20px;
  flex: 1;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
}
.join-btn {
  padding: 15px 40px;
  color: white;
  background-color: #e95a08;
  border: none;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.join-btn:hover {
  background-color: #c94c06;
}
/* footer */
footer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 50px 0;
}
.footer-container {
  display: flex;
  gap: 110px;
}
.footer-container ul li {
  list-style: none;
  line-height: 32px;
}
.footer-container ul li a {
  text-decoration: none;
  color: #6b7280;
}
.footer-logo {
  width: 100px;
  height: auto;
}

.footer-container .column .icon {
  margin-left: 24px;
}

/* Mobile Device */
@media only screen and (max-width: 576px) {
  /* nav styles start*/
  nav {
    padding: 20px 15px;
  }
  nav ul li {
    display: none;
  }
  nav ul li:last-child {
    display: block;
    margin-left: 0;
  }
  /* nav styles end*/

  /* hero section styles */
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .hero-title {
    font-size: 38px;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .hero-description {
    font-size: 16px;
    padding: 0 20px;
  }

  /* Plants section styles */
  .Plants {
    padding: 0 20px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .card-image {
    max-width: 250px;
  }
  .card-title {
    font-size: 20px;
  }

  .card-sub-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .btn {
    width: 100%;
    padding: 12px 0;
  }

  /* Plants Lover styles */
  .Plants-Lover {
    flex-direction: column;
    padding: 50px 20px 0px 20px;
  }
  .plans-image {
    max-width: 100%;
  }
  .plan-lovers-img {
    width: 100%;
    height: auto;
  }
  .trusted-badge {
    display: none;
  }

  .Plants-Lover ul li {
    margin-left: 30px;
  }
  .lover-title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  /* join styles */
  .join-title {
    font-size: 20px;
  }
  .subscribe-form {
    width: 300px;
  }
  .join-btn {
    padding: 15px 20px;
  }

  /* footer */
  footer {
    padding-left: 20px;
  }
  .footer-container {
    flex-direction: column;
    gap: 10px;
  }
  .footer-container .column .footer-logo {
    margin-bottom: 15px;
  }
  .footer-container .column .icon:first-child {
    margin-left: 0;
  }
}
