* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared styles */
.text-primary {
  color: #000000;
}
.bg-color {
  background-color: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
/* Header styles */

/* nav styles */
nav {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 120px 0;
}
nav .logo {
  width: 100px;
  height: auto;
}
nav ul {
  align-items: center;
  padding: 18px 0;
}
nav ul li {
  list-style: none;
  margin-left: 3rem;
}
nav ul li a {
  text-decoration: none;
  color: #8987a1;
}
nav ul li a:hover {
  color: #252432;
}

/* hero-section styles */
.hero-section {
  justify-content: space-between;
  align-items: flex-end;
}
.hero-section-content {
  max-width: 570px;
}
.hero-title {
  font-size: 65px;
  font-weight: 700;
}
.hero-title .fresh-flower {
  color: #e95a08;
}
.hero-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}
.hero-section-img {
  width: 570px;
}

/* main styles */

main section {
  margin-top: 85px;
}
.section-title {
  font-size: 50px;
  color: #000000;
  font-weight: 700;
}
.section-description {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
}
/* Plants Section styles */

.plants-title .our-plan {
  color: #e95a08;
}
.plants-description {
  margin-bottom: 50px;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  padding: 26px 50px;
  width: 270px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 100%;
  max-width: 270px;
  height: auto;
  margin-bottom: 20px;
}
.card-title {
  font-size: 22px;
  font-weight: 500;
  color: #111111;
}
.card-sub-title {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 30px;
}
/* Mobile Device */
@media only screen and (max-width: 576px) {
  /* nav styles start*/
  nav {
    padding: 20px 15px;
  }
  nav ul li {
    display: none;
  }
  nav ul li:last-child {
    display: block;
    margin-left: 0;
  }
  nav ul li:not(:last-child) {
    display: none;
  }
  /* nav styles end*/

  /* hero section styles */
  .hero-section {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .hero-section-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .hero-title {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .hero-description {
    font-size: 16px;
  }

  /* Plants section styles */
  .Plants {
    padding: 0 20px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-image {
    max-width: 180px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-sub-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .btn {
    width: 100%;
    padding: 12px 0;
  }
}
